* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbarContainer {

    background-color: rgb(0, 247, 255);
    padding: 10px 20px;

}

.navbarMenu{

    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;

}

.instructionsButton{

    font-size: 25px;
    border-width: 3px;
    background-color: rgb(239, 141, 229);
    padding: 5px;

}

.instructionsButton:hover {
    background-color: #1100ff;
    color: white;
}
