.GameSummary{

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.stats{

    background-color: rgb(0, 255, 225);
    width: 300px;
    padding: 10px;

}

.restartButton{

    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: pink;

}

.restartButton:hover {

    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(255, 0, 43);
    color: white;

}