.gameScreen{

    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gameOver{

    margin-top: 200px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gameResultsButton{

    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
    background-color: pink;
    
}

.gameResultsButton:hover{

    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(255, 0, 43);
    color: white;
    
}

