.instructions{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;

}

.paragraph{

    font-size: 20px;

}

.continueButton {
    
    background-color: rgb(0, 255, 221);
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 0px;
    font-weight: bold;

}

.continueButton:hover {

    background-color: rgb(47, 0, 255);
    color: white;
    
}