.levelsScreen{

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    gap: 80px;
    padding: 100px;
}

.levelsContainer {

    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: auto;
    max-width: 100%;
    padding: 20px;

    background-color: rgb(98, 0, 255);
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid black;

    border-radius: 20px;

    box-shadow:  0 0 30px 4px rgb(0, 204, 255);

}

.LevelsWindowContainer{

    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}


.LevelsWindow{

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(144, 230, 249);
    width: 200px;
    height: 200px;
    padding: 10px;
    border-left: 7px solid black;
    border-bottom: 7px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    overflow-y: auto;

    box-shadow:  0 0 20px 6px rgb(0, 204, 255);

}

.LevelGlitch{

    animation: button-glitch 4s infinite;

}


.LevelButton{

    justify-self: center;
    background-color: rgb(0, 217, 255);
    font-size: 20px;
    padding: 10px;
    border-left: 6px solid black;
    border-bottom: 6px solid black;

    animation: glowing-shadow2 4s infinite;

}

.LevelButton.active{

    background-color: blue;
    color: white;
    animation: glowing-shadow4 4s infinite;

}

.continueButton {
    
    background-color:rgb(0, 242, 255);
    padding: 10px;
    font-size: 25px;
    border-left: 5.5px solid black;
    border-bottom: 5.5px solid black;
    
    animation: glowing-shadow2 4s infinite;
    animation-delay: 0s;

}

.continueButton:hover {

    background-color: rgb(47, 0, 255);
    color: white;
    animation: glowing-shadow4 4s infinite;
    
}
