.floatingFlag {

    display: flex;
    flex-direction: column;
    position: absolute; /* Position it relative to the container */

    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensures it appears above other elements */
    padding: 20px;
    gap: 50px;

    background-color: rgba(0, 47, 255, 0.5); /* Semi-transparent background */

}

.result {

    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 0, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 8px;
    gap: 20px;
    border-bottom: 6px solid black;
    border-left: 6px solid black;
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;

}

.floatingButton {

    font-size: 25px;
    padding: 5px;
    background-color:rgb(0, 191, 255);
    border-left: 4.5px solid black;
    border-bottom: 4.5px solid black;

    animation: glitch-move 3s infinite;
    animation-delay: 0s;

}

.floatingButton:hover {

    background-color: rgb(0, 0, 255);
    color: white;

}