.floatingFlag {

    display: flex;
    flex-direction: column;
    position: absolute; /* Position it relative to the container */
    justify-self: center;

    width: 800px;
    height: 600px;
    align-items: center;
    z-index: 10; /* Ensures it appears above other elements */
    padding: 20px;
    border: 1px solid black;
    gap: 50px;
    

    background-color: rgb(0, 247, 255); /* Semi-transparent background */
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

.floatingButton {

    font-size: 25px;
    padding: 5px;
    background-color: rgb(205, 123, 198);
    border-radius: 8px;

}

.floatingButton:hover {

    font-size: 25px;
    padding: 5px;
    background-color: rgb(255, 0, 234);
    border-radius: 8px;

}