body {

    background: rgb(233, 95, 254); /* Sets a solid background color */
    
}

*{

  font-family: monospace;
  text-shadow: 2px 2px 4px #fcb8f4, -2px -2px 4px #95b1ff;
  position: relative;
  

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.words {

  font-size: 23px;

}

button{

  font-weight: bold;
  border-radius: 0px;
  border-radius: 0px;

}

@keyframes glitch-move {
    0%, 44% {
      transform: translate(0, 0);
      text-shadow: 2px 2px 4px #ff69b4, -2px -2px 4px #00ffff;
    }
    45%, 46% {
      transform: translate(-5px, -2px);
      text-shadow: 4px -4px 4px #c800ff, -4px 4px 4px #007bff;
    }
    47%, 49% {
      transform: translate(4px, 3px);
      text-shadow: -4px 2px 4px #ff8400, 4px -2px 4px #00ff7f;
    }
    50%, 52% {
      transform: translate(-3px, 5px);
      text-shadow: 5px -5px 4px #fd2828, -5px 5px 4px #5661fc;
    }
    52%, 55% {
        transform: translate(4px, 3px);
        text-shadow: 5px -5px 4px #ff69b4, -5px 5px 4px #00ffff;
    }
    56%, 100% {
      transform: translate(0, 0);
      text-shadow: 2px 2px 4px #ff69b4, -2px -2px 4px #00ffff;
    }
  }


  @keyframes glitch {
    0% {
      text-shadow: 2px 2px 4px #ff69b4, -2px -2px 4px #00ffff;
    }
    50% {
      text-shadow: 4px -4px 4px #ff69b4, -4px 4px 4px #00ffff;
    }
    100% {
      text-shadow: 2px 2px 4px #ff69b4, -2px -2px 4px #00ffff;
    }
  }

  @keyframes glowing-shadow {
    0% {
      box-shadow: 0 0 20px rgb(255, 0, 255);
    }
    50% {
      box-shadow: 0 0 45px rgb(0, 242, 255);
    }
    100% {
      box-shadow: 0 0 20px rgba(255, 0, 255, 0.8);
    }
  }


